<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liuxingyu.photocal">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".photo.CustomCamera" android:launchMode="singleTask"/>
        <activity android:name=".photo.CameraResult" android:launchMode="singleTask"/>
        <activity android:name=".photo.Recognition"  android:launchMode="singleTask"/>
        <activity android:name=".historyFood.MonthFood" android:launchMode="singleTask"/>
        <activity android:name=".userHome.userHome" android:launchMode="singleTask" />
        <activity android:name=".Notification.NotificationHome" android:launchMode="singleTask" />
        <activity android:name=".Notification.NotificationContent" android:launchMode="singleInstance" />
        <activity android:name=".recognition.AddDishName" android:launchMode="singleTask" />
        <activity android:name=".recognition.AddMyDish" android:launchMode="singleTask" />
    </application>

</manifest>